* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #0d1117;
}
.container {
  width: 90%;
  margin: auto;
}
.current_weather_wrapper {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
